.consult-card#type-b {
  background: #eef8fd;
}

.consult-card#type-b .card-image {
  width: 100%;
}

.consult-card#type-b .card-title {
  color: #2dbcff;
}

.consult-card#type-b .card-desc {
  color: #80b8d0;
}

.consult-card#type-b .card-sub-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.consult-card#type-b .card-sub small {
  color: #2dbcff;
}

.consult-card#type-b .card-bottom {
  background: #4dc8ff;
}
