.section7 .section-inner {
  display: flex;
  flex-direction: column;
  padding: 150px 0;
}

.section7 .section-header {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.section7 .section-header-top {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #949ca8;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.section7 .section-inner:nth-of-type(2) .section-header-top svg path {
  stroke: #f4db92;
}

.section7 .section-inner:nth-of-type(3) .section-header-top svg path {
  stroke: #b0e2e2;
}

.section7 .section-header-title {
  color: #454f5d;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 16px;
}

.section7 .section-header-sub {
  color: #838a9a;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 10px;
}

.section7 .section-inner .section-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 1200px) {
  .section7 .section-inner {
    padding: 60px 25px;
  }
}
