.section8 {
  background: #f5f5f7;
}

.section8 .section-inner {
  display: flex;
  flex-direction: column;
  padding: 58px 0;
}

.section8 .section-header {
  height: auto;
  margin-bottom: 60px;

  @media (max-width: 475px) {
    margin-bottom: 34px;
  }
}

.section8 .section-content {
  position: relative;
}

.section8 .card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.section8 .card {
  height: 250px;
  background: #fff;
  border-radius: 15px;
  padding: 32px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.2s;
}

.section8 .card:hover {
  box-shadow: 0px 0px 30px #c9d8d8;
  transform: translateY(-10px);
}

.section8 .card .best-badge {
  display: none;
  width: 60px;
  position: absolute;
  top: 0;
  right: 20px;

  @media (max-width: 475px) {
    width: 46px;
    right: 10px;
  }
}

.section8 .card:nth-of-type(3) {
  border: 2px solid #b890ed;

  .card-title {
    color: #8e51e0;
  }

  .best-badge {
    display: inline-block;
  }
}

.section8 .card .card-title {
  font-size: 26px;
  font-weight: 700;
  color: #454f5d;

  @media (max-width: 475px) {
    font-size: 20px;
    list-style: 26px;
  }
}

.section8 .card .card-sub .amount {
  font-size: 18px;
  font-weight: 700;
  color: #454f5d;

  @media (max-width: 475px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.section8 .card .card-sub .amount strong {
  font-size: 28px;
  line-height: 36px;

  @media (max-width: 475px) {
    font-size: 22px;
    line-height: 24px;
  }
}

.section8 .card .card-sub .discount {
  font-size: 18px;
  font-weight: 400;
  color: #b0b7c7;
  margin-top: 6px;

  @media (max-width: 475px) {
    font-size: 15px;
    line-height: 16px;
  }

  span {
    text-decoration: line-through;
  }
}

.section8 .ghost {
  display: inline-block;
  font-size: 14px;
  color: #c0c6d3;
  position: absolute;
  right: 0;
  top: -30px;
  height: auto;
}

@media (max-width: 475px) {
  .section8 .section-inner {
    padding: 58px 25px;
  }

  .section8 .section-header-top {
    font-size: 18px;
  }

  .section8 .section-header-top svg {
    width: 20px;
  }

  .section8 .section-header-title {
    font-size: 30px;
    line-height: 40px;
  }

  .section8 .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .section8 .card {
    width: 100%;
    height: 170px;
    padding: 23px;
  }

  .section8 .card p {
    font-size: 20px;
  }

  .section8 .card div p {
    font-size: 16px;
  }

  .section8 .card div strong {
    font-size: 22px;
  }

  .section8 .card div p:nth-of-type(2) {
    font-size: 15px;
  }

  .section8 .ghost {
    bottom: -30px;
    top: auto;
  }
}
