.consult-card#type-a {
  background: #eff2ff;
}

.consult-card#type-a .card-image {
  width: 70%;
}

.consult-card#type-a .card-title {
  color: #5b7cff;
}

.consult-card#type-a .card-desc {
  color: #7f8bba;
}

.consult-card#type-a .card-sub small {
  color: #5b7cff;
}

.consult-card#type-a .card-bottom {
  background: #5b7cff;
}
